/*Основные стили*/

/*Медиа запросы*/
@media screen and (max-width: 374.98px) {
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
}
