/*Основные стили*/

.container {
  margin: 0 auto;
}

body.dark .accordion-title h2 {
  color: white;
}

body.dark .accordion-content {
  color: white;
}

body.light .accordion-title span {
  border-color: rgba(0, 0, 0, 0.2);
}

body.light .accordion-title span svg {
  fill: black;
}

li.accordion {
  margin-bottom: 0;
}

.title-section-faq {
  font-weight: 600;
  letter-spacing: -0.02em;
  padding-left: 20px;
  margin-bottom: 10px;
}

.accordion {
  position: relative;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-top: 1px solid var(--light-black-color);
  border-bottom: 1px solid var(--light-black-color);
   }

  .accordion-title span {
  position: absolute;
  top: 40%;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  width: 30px;
  height: 30px;
}

.accordion-title span svg {
  fill: white;
}

.accordion-content {
  box-sizing: content-box;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;
  font-weight: 500;
  letter-spacing: -0.02em;
  }

.accordion-content p {
  color: grey;
}

.accordion-content.active {
  visibility: visible;
  opacity: 1;
  padding: 20px 20px 20px 0;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
}

.accordion-content + span svg {
  transform: rotate(180deg);
  transition: all 0.5s ease-in;
}

.accordion-content.active + span svg {
  transform: rotate(0);
}

/*Медиа запросы*/
@media screen and (max-width: 374.98px) {
    .accordion-list {
    display: block;
    }

  .accordion {
    border-top: 1px solid var(--light-black-color);
    }

  .accordion-title h2 {
    cursor: pointer;
    }
}

@media screen and (min-width: 375px) {
  .accordion {
    border-top: 1px solid var(--light-black-color);
  }
}

@media screen and (min-width: 768px) {
  .accordion {
    border-top: 1px solid var(--light-black-color);
  }
}
@media screen and (min-width: 1440px) {
  .accordion-list {
    display: flex;
    flex-wrap: wrap;
     }
  .accordion {
    width: 50%;
    /*border: 1px solid var(--light-black-color);*/
  }

.accordion:nth-child(1) {
  border-top: 1px solid var(--light-black-color);
  border-right: 1px solid var(--light-black-color);
  border-bottom: 1px solid var(--light-black-color);
  border-left: none;
}

.accordion:nth-child(2) {
  border-top: 1px solid var(--light-black-color);
  border-right: none;
  border-bottom: 1px solid var(--light-black-color);
  border-left: 1px solid var(--light-black-color);
}

.accordion:nth-child(3) {
  border-top: 1px solid var(--light-black-color);
  border-right: 1px solid var(--light-black-color);
  border-bottom: 1px solid var(--light-black-color);
  border-left: none;
}

.accordion:nth-child(4) {
  border-top: 1px solid var(--light-black-color);
  border-right: none;
  border-bottom: 1px solid var(--light-black-color);
  border-left: 1px solid var(--light-black-color);
}

.accordion:nth-child(5) {
  border-top: 1px solid var(--light-black-color);
  border-right: 1px solid var(--light-black-color);
  border-bottom: 1px solid var(--light-black-color);
  border-left: none;
}

.accordion:nth-child(6) {
  border-top: 1px solid var(--light-black-color);
  border-right: none;
  border-bottom: 1px solid var(--light-black-color);
  border-left: 1px solid var(--light-black-color);
}
}



