


/*Медиа запросы*/
@media screen and (max-width: 374.98px) {
  /*Основные стили*/
  body.light .content {
    color: var(--white-color)
  }
  body.dark .content {
    color: var(--light-black-color)
  }
  .accordion-list {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .accordion {
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
  }
  .accordion-title {
  }
  .accordion-title span {
    position: absolute;
    top: 50%;
    right: -5px;
  }

  .accordion-title h2 {

    cursor: pointer;
  }



  .accordion-content {
    padding: 0 20px;
    box-sizing: content-box;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s  ;
    line-height: 24px;
    letter-spacing: -0.02em;
    /*цвет скорее всего есть в рут*/
    color: rgba(250, 250, 250, 0.6);
    /*color: var(--hard-black-color);*/
  }

  .accordion-content.active {
    visibility: visible;
    opacity: 1;
    padding: 20px;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
  }
  .accordion-content + span svg {
    transform: rotate(180deg);
    transition: all 0.5s ease-in;
  }
  .accordion-content.active + span svg {
    transform: rotate(0);
  }

}

@media screen and (min-width: 375px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1440px) {

}


body {

}

