.projects {
  margin: 64px 0;
}

.projects-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--light-black-color);
  margin-bottom: 32px;
}

.projects-top-section {
  background-color: var(--white-color);
  border-radius: 24px 24px 0 0;
  border: 1px solid rgba(28, 29, 32, 0.2);
  padding: 32px;
}
.projects-technologies-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.projects-technologies-list-item {
  color: var(--hard-black-color);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  border: 1px solid rgba(28, 29, 32, 0.2);
  border-radius: 60px;
  padding: 13px 18px;
}
.projects-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: var(--hard-black-color);
  margin-top: 72px;
}

.projects-btn {
  border-radius: 60px;
  background-color: var(--red-color);

  max-width: 141px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 32px 0 0 0;
  padding: 13px 0;
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
}
.projects-bottom-section {
  background-color: var(--medium-black-color);
  border-radius: 0 0 24px 24px;
  border: 1px solid rgba(28, 29, 32, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==================================================== */
.arrows-box-projects {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.arrows-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  background-color: transparent;
}

.btn-icon {
  width: 24px;
  height: 24px;
}
/* ========================================================================== */
/*Медиа запросы*/
@media screen and (max-width: 374.98px) {
  .projects-top-section {
    max-height: 417px;
  }
  .projects-bottom-section {
    height: 395px;
  }
  .projects-img-item {
    max-width: 311px;
    max-height: 195px;
  }
}

@media screen and (min-width: 375px) {
  .projects-top-section {
    height: 417px;
  }
  .projects-bottom-section {
    height: 395px;
  }
  .projects-img-item {
    width: 311px;
    height: 195px;
  }
}
/* =========TAB========================= */
@media screen and (min-width: 768px) {
  .projects-text {
    font-size: 44px;
  }
  .projects-btn {
    max-width: 177px;
    padding: 18px 0;
  }
  .projects-top-section {
    height: 566px;
    padding: 64px;
  }
  .projects-bottom-section {
    height: 625px;
  }
  .projects-text {
    margin-top: 156px;
  }
  .projects-img-item {
    width: 614px;
    height: 385px;
  }
}
/* ===========DESK============================= */
@media screen and (min-width: 1440px) {
  .projects-swiper-slide {
    border-radius: 24px;
    width: 1376px;
    height: 625px;
    display: flex;
    flex-direction: row;
  }
  .projects-top-section {
    border-radius: 24px 0 0 24px;
    width: 688px;
    height: 625px;
  }
  .projects-bottom-section {
    border-radius: 0 24px 24px 0;
    width: 688px;
    height: 625px;
  }
  .projects-text {
    margin-top: 212px;
  }
}
/* ========swiper-btn================ */
.swiper-button-next-projects.swiper-button-projects-disabled button {
  border: 1px solid rgba(250, 250, 250, 0.2);
  color: rgba(250, 250, 250, 0.2);
}
.swiper-button-prev-projects.swiper-button-projects-disabled button {
  border: 1px solid rgba(250, 250, 250, 0.2);
  color: rgba(250, 250, 250, 0.2);
}
body.light .swiper-button-next-projects.swiper-button-projects-disabled button {
  border: 1px solid rgba(28, 29, 32, 0.2);
  color: rgba(28, 29, 32, 0.2);
}
body.light .swiper-button-prev-projects.swiper-button-projects-disabled button {
  border: 1px solid rgba(28, 29, 32, 0.2);
  color: rgba(28, 29, 32, 0.2);
}
