/*Основные стили*/
.reviews {
  margin-top: 32px;
  margin-bottom: 32px;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
}

.reviews-text-title {
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.reviews-card {
  margin-bottom: 32px;
}

.reviews-card-list {
  display: flex;
}

body.light .reviews-card-item {
  border: 1px solid var(--hard-black-color);
}

.reviews-card-item {
  width: 100%;
  height: 302px;
  background-color: transparent;
  padding: 32px 24px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  overflow-y: scroll;
}

.reviews-item-img {
  object-fit: cover;
  border-radius: 10px;
  width: 48px;
  height: 48px;
  margin-bottom: 32px;
}

.reviews-card-text-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}

.reviews-card-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  width: 100%;
  height: 158px;
}

.arrows-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.arrows-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  background-color: transparent;
}

body.light .left-btn {
  border: 1px solid var(--light-black-color);
}

.left-btn {
  border: 1px solid rgba(250, 250, 250, 0.2);
}

body.light .right-btn {
  border: 1px solid var(--hard-black-color);
}

.right-btn {
  border: 1px solid rgba(250, 250, 250, 0.5);
}

.btn-icon {
  width: 24px;
  height: 24px;
}

body.dark .arrows-box svg {
  color: white;
}

body.light .arrows-box svg {
  color: black;
}
.swiper-button-next-review {
  z-index: 10;
}

/*.left-btn-icon {
  fill: var(--light-black-color);
}

.right-btn-icon {
  fill: var(--white-color);
}*/

/*Медиа запросы*/
@media screen and (max-width: 374.98px) {
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }

  .reviews-card-list {
    gap: 16px;
  }

  .arrows-box {
    gap: 20px;
  }

  .arrows-btn {
    padding: 18px;
    width: 68px;
    height: 68px;
  }

  .btn-icon {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .reviews-card-list {
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}
