/*======================================================*/
.skills-button {
  color:var(--medium-black-color);
  padding: 50px 50px;
  border-radius: 50%;
  border: 1px solid var(--light-black-color);
}
.container {
}

.container-skill-list {
}

.swiper-skills-list {
  overflow: hidden;
  position: relative;
}
.swiper-button-next {
  position: absolute;
  top: 10px;
}
.swiper-wrapper {
}

.swiper-slide {
}

.main-skill-list {
}

.skills-button {
}

.skill-list {
}

.skill-list-name {
}

.arrow-list {
}

.arrow-list-icons {
}