.swiper-skills-list {
  overflow: clip;
}
.swiper-skills-slide button{
  border: 1px solid var(--light-black-color);
  border-radius: 50%;
  color: var(--white-color);
}
.swiper-skills-list__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .swiper-skills-list {
    width: 90%;
    overflow: clip;
  }
}

@media screen and (max-width: 767.98px){
  .swiper-skills-list {
    width: 80%;
  }
  .swiper-skills-slide button{
    width: 130px;
    height: 130px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-skills-slide button{
    width: 200px;
    height: 200px;
  }
  .swiper-skills-list {
    width: 95%;
  }
}
@media screen and (min-width: 1440px) {
  .swiper-skills-list {
    width: 1300px;
  }
  .swiper-skill-list-next {
    margin-right:10px;
  }
}



.swiper-slide.swiper-skills-slide.swiper-slide-active button{
  background-color: var(--red-color);
  border: 1px solid var(--red-color);
}