.work-together {
  background-color: var(--hard-black-color);
}

.work-together-div {
  padding-top: 32px;
  padding-bottom: 32px;
  /* padding-right: 16px;
  padding-left: 16px; */
}
.work-together-div-title {
  display: flex;
}
.work-together-img {
  height: 44px;
  width: 44px;
  margin-right: 8px;
}
.work-together-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}
.work-together-title-second {
  margin-top: 8px;
  margin-bottom: 64px;
}
.work-together-span {
  color: var(--red-color);
}
.work-together-div-for-inputs {
  display: block;
}
.work-together-input {
  width: 343px;
  height: 44px;
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 20px;
  border: none;
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  margin-bottom: 16px;
  border-radius: 0;
  outline: 0;
  border-width: 0 0 2px;
  border-color: hsl(0, 88%, 48%);
}
/* .work-together-input-decor-el {
  position: relative;
}
.work-together-input-decor-el::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  content: '';
  background-color: #fafafa;
} */
/* .work-together-button {
  background: var(--red-color);
  border-radius: 100%;
  width: 100px;
  height: 100px;
  font-family: var(--font-family);
  font-weight: 500;
  letter-spacing: -0.02em;
  color: var(--white-color);
  margin-top: 16px;
  margin-bottom: 64px;
} */
.work-together-ul {
  display: flex;
}
.work-together-list {
  margin-left: 4px;
  display: flex;
  margin-bottom: 20px;
}
.work-together-link {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  max-width: 178px;
  height: 37px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--white-color);
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.work-together-tel {
  max-width: 118px;
  padding: 0px;
}
.work-together-mail {
  padding: 10px 12px;
}

/* ============== МОДАЛЬНЕ ВІКНО =============== */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(15, 15, 16, 0.6);
  opacity: 0;
  pointer-events: none;
}
.modal-overlay-is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal-window {
  background-color: var(--hard-black-color);
  border: 1px solid #fafafa1a;
  border-radius: 20px;
  padding: 64px 32px;
  max-width: 343px;
  max-height: 80%;
  position: relative;
}
.work-together-button-modale-window {
  background-color: transparent;
  width: 22px;
  height: 22px;
  border: none;
  padding: 0;
  line-height: 0;
  stroke: var(--white-color);
  stroke-width: 2px;
  margin-bottom: 21px;
  cursor: pointer;
  position: absolute;
  top: 21px;
  right: 16px;
}

.modal-window-text {
  width: 279px;
  height: 148px;
}
.modal-window-div-for-text {
  width: 279px;
  height: 148px;
}
.modal-window-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--white-color);
  margin-bottom: 16px;
}
.modal-window-paragraph {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(250, 250, 250, 0.6);
}
/* .work-together-div-for-inputs {
  display: flex;
  /* flex-direction: column;} */

.work-together-input {
  width: 245px;
  height: 44px;
  margin-right: 16px;
  margin-bottom: 0;
}
/* .work-together-button {
    margin-left: 16px;
    margin-bottom: 18px;
  } */
.work-together-link {
  /* padding: 18px 32px; */
  width: 239px;
  height: 55px;
}
/* ============== МОДАЛЬНЕ ВІКНО =============== */
.modal-window {
  max-width: 492px;
}
.work-together-button-modale-window {
  width: 24px;
  height: 24px;
  top: 20px;
  right: 20px;
}
.work-together-icon {
  width: 12px;
  height: 12px;
}
.modal-window-div-for-text {
  width: 364px;
  height: auto;
}

/* ===================================== */
/Медиа запросы/ @media screen and (max-width: 374.98px) {
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
  .work-together-div {
    padding-top: 80px;
    padding-bottom: 169px;
  }
  .work-together-img {
    border-radius: 24px;
    width: 70px;
    height: 70px;
  }
  .work-together-title {
    font-size: 64px;
  }
  .work-together-title-second {
    margin-top: 7px;
  }
  .work-together-form-and-button {
    display: flex;
    align-items: center;
  }
}

/* ============================================== */
@media screen and (min-width: 1440px) {
  .work-together-input {
    width: 390px;
    height: 44px;
    margin-right: 32px;
  }
  .work-together-div {
    padding-left: 196px;
    padding-right: 196px;
  }
  /* .work-together-button {
    margin-left: 54px;
    width: 150px;
    height: 150px;
  } */
}
