body.dark  {
  .work-together__title {
    color: white;
  }
  .work-form__button {
    background-color: transparent;
    border: 1px solid var(--light-black-color);
    color: var(--white-color);
  }
  .work-form__button:hover {
    background-color: var(--red-color);
    border: 1px solid var(--red-color);
  }
  .work-form input{
    color: var(--white-color);
  }
  .contact__item a {
    border: 1px solid var(--light-black-color);
    color: var(--white-color);
  }
}

body.light  {
  .work-together__title {
    color: var(--hard-black-color);
  }
  .work-form__button {
    background-color: transparent;
    border: 1px solid var(--hard-black-color);
  }
  .work-form__button:hover {
    background-color: var(--red-color);
    border: 1px solid var(--red-color);
    color: var(--white-color);
  }
  .work-form input{
    color: var(--hard-black-color);
  }
  .contact__item a {
    border: 1px solid var(--hard-black-color);
    color: var(--hard-black-color);
  }
  .contact__item a:hover {
    border: 1px solid var(--red-color);
    color: var(--white-color);
    background-color: var(--red-color);
  }
}
input:-webkit-autofill {
  background-color: transparent;
}
.work-together {

}

.container {
}

.work-together__title {
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
 img {
   display: inline-block;
 }
  p {
    display: inline-block;
  }
  .modal__title__next {
    display: block;
    margin-top: 8px;
  }
}

.work-together__title-red {
  color: var(--red-color);
}

.work-together__form {
}

.work-form {
  display: flex;
  gap: 20px;
  input {
    height: 44px;
  }
}

.work-form__mail {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid var(--medium-black-color);
  line-height: 150%;
  position: relative;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  &:focus-within {
    outline: none;
  }
}

.work-form__mail-text {
  display: block;
  position: absolute;
}

.work-form__message {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid var(--medium-black-color);
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  position: relative;
  &:focus-within {
    outline: none;
  }
}

.work-form__message-text {
  display: block;
  position: absolute;
  color: var(--red-color);
}

.work-form__button {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  flex-basis: 1;
  flex-shrink: 1;
}
.contact__links {
  display: flex;
}
.contact__item a{
  padding: 10px 12px;
  border-radius: 24px;
}

@media screen and (max-width: 374.98px) {
  .work-together {
    padding: 64px 0;
  }
  .work-together__title{
    margin-bottom: 63px;
    font-size: 38px;
    img{
      width: 36px;
    }
  }
  .work-form {
    flex-direction: column;
    input {
      width: 100%;
    }
  }


  .work-form__button {
    margin-top: 32px;
  }
  .contact__links {
    margin-top: 64px;
    flex-direction: column;
    gap: 30px;
  }
  .contact__links {}
}

@media screen and (min-width: 375px) {
  .work-together {
    padding: 64px 0;
  }
  .work-together__title{
    font-size: 48px;
    margin-bottom: 63px;
    img {
      width: 48px;
    }
  }
  .work-form {
    flex-direction: column;
    input {
      width: 340px;
    }
  }
  .work-form__button {
    margin-top: 32px;
  }
  .contact__links {
    margin-top: 64px;
    column-gap: 10px;
  }
  .contact__item a {
    font-size: 12px;
  }
}


@media screen and (min-width: 768px) {
  .work-together {
    padding: 96px 0;
  }
  .work-together__title{
    font-size: 64px;

  }
  .work-form {
    flex-direction: row;
    align-self: flex-start;
    justify-content: start;
    gap: 32px;
    align-items: center;
    input {
      width: 245px;
    }
  }

}

@media screen and (min-width: 1440px) {
  .work-together {
    padding: 164px 0;
  }
  .work-container {
    padding: 0 80px;
  }
  .work-form {
    width: 100%;
    gap: 32px;
    input {
      width: 390px;
    }
  }
  .work-form__button {
    margin-left: 84px;
  }

}