<section class="about">
  <div class="container">
    <h1 class="visually-hidden">About me</h1>
    <div class="am-headline">
      <div class="am-summary">
        <p>I work with people all over the world to create impressive and <span id="functional">functional</span> <span
            id="websites">websites</span> that reflect each client's
          unique
          personality.</p>
      </div>
      <div class="am-photo">
        <picture>
          <source srcset="./img/about-me/photo_desc1x.jpg  1x,
                                                    ./img/about-me/photo_desc2x.jpg 2x" media="(min-width: 1158px)" />
          <source srcset="./img/about-me/photo_tab1x.jpg  1x,
                                                    ./img/about-me/photo_tab2x.jpg 2x" media="(min-width: 768px)" />
          <source srcset="./img/about-me/photo_mob1x.jpg  1x,
                                                    ./img/about-me/photo_mob1x.jpg 2x" media="(max-width: 767px)" />
          <img src="./img/about-me/photo_mob1x.jpg" alt="my-photo" />
        </picture>
      </div>
    </div>
    <div class="am-main">
      <div class="am-aboutme">
        <div id="about-me">
          <p>About me</p>
          <div>O</div>
        </div>

        <div class="am-aboutme-description">
          <p class="am-aboutme-paragraph">
            I am Lloyd Jefferson, a talented programmer with extensive expertise in software development. I have an
            understanding of
            different programming languages ​​and technologies, always ready to improve my skills. I always follow the
            latest trends
            and look for unconventional, creative solutions to problems. I have a high level of analytical skills and am
            able to
            effectively solve even the most difficult tasks encountered on the way.
          </p>
          <p class="am-aboutme-paragraph">
            Able to work both independently and in a team. I can effectively cooperate with colleagues, exchanging ideas
            and finding
            optimal solutions. Professional maturity allows you to calmly cope with challenges and stressful situations,
            while
            maintaining a high quality of work.I am always looking for opportunities for self-improvement. I actively
            study new
            technologies and practices to stay abreast of the latest innovations. I have a strong understanding of
            various
            programming languages, frameworks and architectural concepts that allow me to create efficient and scalable
            software.
          </p>
        </div>
      </div>
      <div>

      </div>
      <div>

      </div>
    </div>
    <div>

    </div>
  </div>
</section>


<!--About me-->
<!--######-->
<!--У секції немає видимого заголовку. Потрібно зробити прихований заголовок для краулерів.-->

<!--Секція також містить описову частину та зображення, яке слід реалізувати як контенте.-->

<!--Інформацію про себе, свій досвід і освіту необхідно реалізувати за допомогою <ul> і бібліотеки Accordeon як список елементів, що розкриватимуться або закриватимуться по clickу на елемент в залежності від його стану. По замовчуванню, перший елемент списку має бути розкритим.-->

<!--Перелік навичок необхідно реалізувати за допомогою <ul> у вигляді горизонтального слайдера (https://swiperjs.com/swiper-api). Користувач повинен мати змогу взаємодіяти зі слайдером через мишу, клавіатуру (клавіш Tab та стрілок) або сенсорний екран. По clickу праворуч (або відповідно до зазначеного напрямку), у разі досягнення кінця списку елементів, наступний click повинен знову відобразити перший/останній елемент. Така функціональність дозволить користувачеві продовжувати переглядати елементи безкінечно, переходячи з одного кінця до іншого без переривання.-->

<!--#####-->