<section class="about">
  <div class="container">
    <h1 class="visually-hidden">About me</h1>
    <div class="am-headline">
      <div class="am-summary">
        <p>I work with people all over the world to create impressive and <span id="functional">functional</span> <span
            id="websites">websites</span> that reflect each client's
          unique
          personality.</p>
      </div>
      <div class="am-photo">
        <picture>
          <source srcset="./img/about-me/photo_desc1x.jpg  1x,
                                                    ./img/about-me/photo_desc2x.jpg 2x" media="(min-width: 1158px)" />
          <source srcset="./img/about-me/photo_tab1x.jpg  1x,
                                                    ./img/about-me/photo_tab2x.jpg 2x" media="(min-width: 768px)" />
          <source srcset="./img/about-me/photo_mob1x.jpg  1x,
                                                    ./img/about-me/photo_mob1x.jpg 2x" media="(max-width: 767px)" />
          <img src="./img/about-me/photo_mob1x.jpg" alt="my-photo" />
        </picture>
      </div>
    </div>
    <div class="am-main accordion-container">
      <div class="ac">
        <div class="ac-header am-accordion-wrap">

          <button type="button" class="ac-trigger">About me</button>
        </div>
        <div class="ac-panel">
          <ul class="aboutme-list aboutme-text">
            <li>
              I am Lloyd Jefferson, a talented programmer with extensive expertise in software development. I have an
              understanding of
              different programming languages ​​and technologies, always ready to improve my skills. I always follow
              the
              latest trends
              and look for unconventional, creative solutions to problems. I have a high level of analytical skills
              and am
              able to
              effectively solve even the most difficult tasks encountered on the way.
            </li>
            <li>
              Able to work both independently and in a team. I can effectively cooperate with colleagues, exchanging
              ideas
              and finding
              optimal solutions. Professional maturity allows you to calmly cope with challenges and stressful
              situations,
              while
              maintaining a high quality of work.I am always looking for opportunities for self-improvement. I
              actively
              study new
              technologies and practices to stay abreast of the latest innovations. I have a strong understanding of
              various
              programming languages, frameworks and architectural concepts that allow me to create efficient and
              scalable
              software.
            </li>
          </ul>
        </div>
      </div>

      <div class="ac">
        <div class="ac-header am-accordion-wrap">

          <button type="button" class="ac-trigger">Role</button>
        </div>
        <div class="ac-panel">
          <ul class="aboutme-list aboutme-text">
            <li>
              I am Lloyd Jefferson
            </li>
            <li>
              Able to work both
            </li>
          </ul>
        </div>
      </div>
      <div class="ac">
        <div class="ac-header am-accordion-wrap">

          <button type="button" class="ac-trigger">Education</button>
        </div>
        <div class="ac-panel">
          <ul class="aboutme-list aboutme-text">
            <li>
              I am Lloyd Jefferson
            </li>
            <li>
              Able to work both
            </li>
          </ul>
        </div>
      </div>

      <!-- <div class="am-aboutme">
        <div class="am-accordion-wrap">
          <p>About me</p>
          <div>O</div>
        </div> -->

    </div>
    <!-- <div class="am-accordion-wrap am-wrapper">
        <p>Role</p>
        <div>O</div>
      </div> -->
    <!-- <div class="am-accordion-wrap am-wrapper">
        <p>Education</p>
        <div>O</div>
      </div> -->
  </div>
  <div class="swiper">
    <div class="swiper-wrapper am-skills">
      <div class="swiper-slide">HTML/CSS</div>
      <div class="swiper-slide">JavaScript</div>
      <div class="swiper-slide">React</div>
      <div class="swiper-slide">Node. js</div>
      <div class="swiper-slide">React Native</div>
      <div class="swiper-slide">Soft skills</div>
    </div>
    <!-- <ul class="am-skills swiper">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul> -->

    <!-- <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.6665 20H33.3332" stroke="#3B3B3B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M23.3335 10L33.3335 20L23.3335 30" stroke="#3B3B3B" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg> -->
  </div>

  </div>
</section>


<!--About me-->
<!--######-->
<!--У секції немає видимого заголовку. Потрібно зробити прихований заголовок для краулерів.-->

<!--Секція також містить описову частину та зображення, яке слід реалізувати як контенте.-->

<!--Інформацію про себе, свій досвід і освіту необхідно реалізувати за допомогою <ul> і бібліотеки Accordeon як список елементів, що розкриватимуться або закриватимуться по clickу на елемент в залежності від його стану. По замовчуванню, перший елемент списку має бути розкритим.-->

<!--Перелік навичок необхідно реалізувати за допомогою <ul> у вигляді горизонтального слайдера (https://swiperjs.com/swiper-api). Користувач повинен мати змогу взаємодіяти зі слайдером через мишу, клавіатуру (клавіш Tab та стрілок) або сенсорний екран. По clickу праворуч (або відповідно до зазначеного напрямку), у разі досягнення кінця списку елементів, наступний click повинен знову відобразити перший/останній елемент. Така функціональність дозволить користувачеві продовжувати переглядати елементи безкінечно, переходячи з одного кінця до іншого без переривання.-->

<!--#####-->