<section class="benefits" data-aos="fade-left">
  <div class="container">

<div class="benefits-wrapper">
  <div class="benef-title-box">

  <h2 class="benefits-title">Benefits of working with me</h2>

<div class="benef-list-link-box">
<ul class="benefits-list">
  <li class="benefits-item">
    <div class="benefit-icon-box">
      <svg class="icon-benefit" width="24" height="24" aria-label="icon user">
        <use href="./sprites/symbol-defs.svg#icon-user"></use>
      </svg>
    </div>
    <h3 class="benefit-title">Expertise</h3>
    <p class="benefit-text">As a highly experienced developer, I have deep knowledge of programming and website development.</p>
  </li>
  <li class="benefits-item">
    <div class="benefit-icon-box">
      <svg class="icon-benefit" width="24" height="24" aria-label="icon chat">
        <use href="./sprites/symbol-defs.svg#icon-chat"></use>
      </svg>
    </div>
    <h3 class="benefit-title">Communication</h3>
    <p class="benefit-text">Understanding your needs and wants is my priority and I am always open to discussions and corrections.</p>
  </li>
  <li class="benefits-item">
    <div class="benefit-icon-box">
      <svg class="icon-benefit" width="24" height="24" aria-label="icon pen">
        <use href="./sprites/symbol-defs.svg#icon-pen"></use>
      </svg>
    </div>
    <h3 class="benefit-title">Art</h3>
    <p class="benefit-text">Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life.</p>
  </li>
  <li class="benefits-item">
    <div class="benefit-icon-box">
      <svg class="icon-benefit" width="24" height="24" aria-label="icon time">
        <use href="./sprites/symbol-defs.svg#icon-time"></use>
      </svg>
    </div>
    <h3 class="benefit-title">Urgent execution</h3>
    <p class="benefit-text" >I understand how important time is to you. Ready to work quickly and efficiently, without reducing the quality of work.</p>
  </li>
</ul>
<a class="benefit-link" href="#work-together-section">Order the project</a>
</div>
</div>
</div>
  </div>
</section>















<!--Текст “Benefits of working with me” є заголовком секції.-->

<!--У секції знаходиться перелік переваг, який необхідно реалізувати як список елементів за допомогою <ul>-->

<!--"Order the project"  слід реалізувати як якірне посилання, яке перенаправлятиме користувача до секції Work together.-->