<section class="covers">
  <div class="container">
    <link href="https://fonts.googleapis.com/css?family=Pridi:600"
          rel="stylesheet">

    <div class="content">
      <div class="marquee">
        <div class="marquee__inner">
          <div class="marquee__line">
            <img src="./img/covers/1-x1.jpg"
                 width="600"
                 alt="">
          </div>
          <div class="marquee__line">
            <img src="./img/covers/2-x1.jpg"
                 width="600"
                 alt="">
          </div>
          <div class="marquee__line">
            <img src="./img/covers/3-1x.jpg"
                 width="600"
                 alt="">
          </div>
        </div>
        <div class="marquee__inner">
          <div class="marquee__line">
            <img src="./img/covers/4-x1.jpg"
                 width="600"
                 alt="">
          </div>
          <div class="marquee__line">
            <img src="./img/covers/5-x1.jpg"
                 width="600"
                 alt="">
          </div>
          <div class="marquee__line">
            <img src="./img/covers/6-x1.jpg"
                 width="600"
                 alt="">
          </div>
          <div class="marquee__line">
            <img src="./img/covers/7-x1.jpg"
                 width="600"
                 alt="">
          </div>
        </div>
        <div class="marquee__inner">
          <div class="marquee__line"><img src="./img/covers/8-x1.jpg"
                                          width="600"
                                          alt=""></div>
          <div class="marquee__line"><img src="./img/covers/9-x1.jpg"
                                          width="600"
                                          alt=""></div>
          <div class="marquee__line"><img src="./img/covers/10-x1.jpg"
                                          width="600"
                                          alt=""></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Covers-->

<!--У секції немає видимого заголовку. Потрібно зробити прихований заголовок для краулерів.-->

<!--Перелік обкладинок необхідно реалізувати за допомогою <ul>. За бажанням команди, перелік можна реалізувати у вигляді рядків, що біжуть (приклад). За допомогою JS така анімація має спрацьовувати лише за наявності секції "Covers" всередині viewportа користувача.-->

<!--Фон слід реалізувати за допомогою фонового зображення формату png (або радіальних градієнтів за бажанням команди).-->