<section class="covers" data-aos="fade-right">
  <div class="content">
    <h3 class="covers__title">Covers title</h3>
    <div class="marquee">
      <ul class="marquee__inner">
        <li class="marquee__line">
          <img src="./img/covers/1-x1.jpg"
               alt="power-pulse"
               srcset="./img/covers/1-x1.jpg 1x, ./img/covers/1-x2.jpg 2x"
               loading="lazy" />
        </li>
        <li class="marquee__line">
          <img src="./img/covers/2-x1.jpg"
               alt="mimino"
               srcset="./img/covers/2-x1.jpg 1x, ./img/covers/2-x2.jpg 2x"
               loading="lazy" />
        </li>
        <li class="marquee__line">
          <img src="./img/covers/3-1x.jpg"
               alt="power-pulse"
               srcset="./img/covers/3-x1.jpg 1x, ./img/covers/3-x2.jpg 2x"
               loading="lazy" />
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class="marquee__line">
          <img src="./img/covers/4-x1.jpg"
               alt="power-pulse"
               srcset="./img/covers/4-x1.jpg 1x, ./img/covers/4-x2.jpg 2x"
               loading="lazy" />
        </li>
        <li class="marquee__line">
          <img src="./img/covers/5-x1.jpg"
               alt="power-pulse"
               srcset="./img/covers/5-x1.jpg 1x, ./img/covers/5-x2.jpg 2x"
               loading="lazy" />
        </li>
        <li class="marquee__line">
          <img src="./img/covers/6-x1.jpg"
               alt="power-pulse"
               srcset="./img/covers/6-x1.jpg 1x, ./img/covers/6-x2.jpg 2x"
               loading="lazy" />
        </li>

      </ul>
      <ul class="marquee__inner">
        <li class="marquee__line">
          <img src="./img/covers/7-x1.jpg"
               alt="power-pulse"
               srcset="./img/covers/7-x1.jpg 1x, ./img/covers/7-x2.jpg 2x"
               loading="lazy" />
        </li>
        <li class="marquee__line">
            <img src="./img/covers/8-x1.jpg"
                 alt="power-pulse"
                 srcset="./img/covers/8-x1.jpg 1x, ./img/covers/8-x2.jpg 2x"
                 loading="lazy" />
        </li>
        <li class="marquee__line">
          <img src="./img/covers/9-x1.jpg"
               alt="power-pulse"
               srcset="./img/covers/9-x1.jpg 1x, ./img/covers/9-x2.jpg 2x"
               loading="lazy" />
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class="marquee__line">
          <img src="./img/covers/10-x1.jpg"
               alt="power-pulse"
               srcset="./img/covers/10-x1.jpg 1x, ./img/covers/10-x2.jpg 2x"
               loading="lazy" />
        </li>
      </ul>
    </div>
  </div>
</section>