<section class="covers">
  <div class="container">
    <link href="https://fonts.googleapis.com/css?family=Pridi:600" rel="stylesheet">

    <div class="content">
      <div class="marquee">
        <div class="marquee__inner">
          <p class="marquee__line">Project 1</p>
          <p class="marquee__line">Project 2</p>
          <p class="marquee__line">Project 3</p>
        </div>
        <div class="marquee__inner">
          <p class="marquee__line">Project 1</p>
          <p class="marquee__line">Project 2</p>
          <p class="marquee__line">Project 3</p>
          <p class="marquee__line">Project 4</p>
        </div>
        <div class="marquee__inner">
          <p class="marquee__line">Project 1</p>
          <p class="marquee__line">Project 2</p>
          <p class="marquee__line">Project 3</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Covers-->

<!--У секції немає видимого заголовку. Потрібно зробити прихований заголовок для краулерів.-->

<!--Перелік обкладинок необхідно реалізувати за допомогою <ul>. За бажанням команди, перелік можна реалізувати у вигляді рядків, що біжуть (приклад). За допомогою JS така анімація має спрацьовувати лише за наявності секції "Covers" всередині viewportа користувача.-->

<!--Фон слід реалізувати за допомогою фонового зображення формату png (або радіальних градієнтів за бажанням команди).-->