<header>
  <nav>
    <a href=""
       class="logo">
      <img src="./icons/logo.svg"
           alt="">
      <span>jefferson*</span>
    </a>
    <button>Menu</button>
    <div class="menu-wrapper">
      <button>
        <svg>
          <use href="./sprites/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
      <label class="theme-switcher"
             for="switcher-2">
        <input type="checkbox"
               class="theme-switcher__checkbox"
               id="switcher-2">
        <span class="theme-switcher__switch"></span>
      </label>
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
      </ul>
    </div>
   <div class="header-actions">
     <label class="theme-switcher"
            for="switcher">
       <input type="checkbox"
              class="theme-switcher__checkbox"
              id="switcher">
       <span class="theme-switcher__switch"></span>
     </label>
     <a class="header-actions">See project</a>
     <button class="header-burger">
       <svg>
         <use href="./sprites/symbol-defs.svg#icon-burger"></use>
       </svg>
     </button>
   </div>
  </nav>

</header>