<div class="container header__wrapper">
  <a class="header__logo" href="">
    <img width="80" src="./icons/logo.svg"
         alt="logo">
    <span>jefferson*</span>
  </a>
  <div class="header-menu__body menu-hidden-mobile">
    <button class="menu__button">Menu</button>
    <nav class="header__menu menu ">
      <button class="button__close ">
        <svg width="30" height="30">
          <use href="./sprites/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
      <label class="theme-switcher"
             for="switcher">
        <input type="checkbox"
               class="theme-switcher__checkbox"
               id="switcher">
        <span class="theme-switcher__switch"></span>
      </label>
      <ul class="menu__list menu-hidden-desktop">
        <li class="menu__item">
          <a href="#">About me</a>
        </li>
        <li class="menu__item">
          <a href="#">Benefits</a>
        </li>
        <li class="menu__item">
          <a href="#">Projects</a>
        </li>
        <li class="menu__item">
          <a href="#">FAQ</a>
        </li>
      </ul>
      <a class="header__buy-now-mobile" href="#">Order the Project</a>
    </nav>
  </div>
  <div class="header__actions">

    <button class="header__menu-burger ">
      <svg width="30" height="30">
        <use href="./sprites/symbol-defs.svg#icon-burger"></use>
      </svg>
    </button>
    <a class="header__buy-now" href="#">Order the Project</a>
  </div>
</div>