<section class="hero">
  <div class="container hero__wrapper">
    <h1 class="hero__title">
      Hello. <br>
      I’m Fullstack developer
      Lloyd Jefferson.
    </h1>

    <ul class="hero__links">
      <li class="hero__link">
        <a target="_blank"
           href="https://www.instagram.com/">IG</a>
      </li>
      <li class="hero__link">
        <a target="_blank"
           href="https://www.facebook.com/">FB</a>
      </li>
      <li class="hero__link">
        <a target="_blank"
           href="https://www.youtube.com/">YT</a>
      </li>
      <li class="hero__link">
        <a target="_blank"
           href="https://github.com/">GH</a>
      </li>
      <li class="hero__mail">
        <a target="_blank"
           href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
      </li>
    </ul>
  </div>
  <!-- Slider main container -->
  <div class="swiper-hero">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide swiper-hero-slide-1 swiper-hero-slide">
        <img src="./img/hero/bg-blue-x1.png"
             srcset="./img/hero/bg-blue-x1.png 1x, ./img/hero/bg-blue-x2.png 2x"
             alt="blue-screen" loading="lazy">
      </div>
      <div class="swiper-slide swiper-hero-slide-2 swiper-hero-slide">
        <img src="./img/hero/bg-brown-x1.png"
             srcset="./img/hero/bg-brown-x1.png 1x, ./img/hero/bg-brown-x2.png 2x"
             alt="brown-screen" loading="lazy">
      </div>
      <div class="swiper-slide swiper-hero-slide-3 swiper-hero-slide">
        <img src="./img/hero/bg-green-x1.png"
             srcset="./img/hero/bg-green-x1.png 1x, ./img/hero/bg-green-x2.png 2x"
             alt="green-screen" loading="lazy">
      </div>
      <div class="swiper-slide swiper-hero-slide-4 swiper-hero-slide">
        <img src="./img/hero/bg-red-x1.png"
             srcset="./img/hero/bg-red-x1.png 1x, ./img/hero/bg-red-x2.png 2x"
             alt="red-screen" loading="lazy">
      </div>
      <div class="swiper-slide swiper-hero-slide-5 swiper-hero-slide">
        <img src="./img/hero/bg-orange-x1.png"
             srcset="./img/hero/bg-orange-x1.png 1x, ./img/hero/bg-orange-x2.png 2x"
             alt="orange-screen" loading="lazy">
      </div>
      <div class="swiper-slide swiper-hero-slide-6 swiper-hero-slide">
        <img src="./img/hero/bg-salat-x1.png"
             srcset="./img/hero/bg-salat-x1.png 1x, ./img/hero/bg-salat-x2.png 2x"
             alt="light-green-screen" loading="lazy">
      </div>
    </div>
  </div>

</section>