<section class="projects">

  <div class="container">
    <h2 class="projects-title">PROJECTS</h2>
    <!-- ======================================== -->
    <!-- Slider main container -->
    <div class="swiper swiper-projects">

      <!-- Additional required wrapper -->
      <div class="swiper-wrapper swiper-wrapper-projects">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="projects-swiper-slide">
            <div class="projects-top-section">
              <ul class="projects-technologies-list">
                <li class="projects-technologies-list-item">#react</li>
                <li class="projects-technologies-list-item">#js</li>
                <li class="projects-technologies-list-item">#node js</li>
                <li class="projects-technologies-list-item">#git</li>
              </ul>
              <p class="projects-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
              <a class="projects-btn" href="https://github.com/Tienam123/goit-team-js-project" target="_blank">See
                project</a>
            </div>
            <div class="projects-bottom-section">
              <picture class="projects-img-item">
                <source srcset="./img/projects/1-pc-x1.jpg 1x,
                                      ./img/projects/1-pc-x2.jpg 2x " media="(min-width: 1440px)" />
                <source srcset="./img/projects/1-tablet-x1.jpg 1x,
                                      ./img/projects/1-tablet-x2.jpg 2x" media="(min-width: 768px)" />
                <source srcset="./img/projects/1-mobile-x1.jpg 1x,
                                      ./img/projects/1-mobile-x2.jpg 2x" media="(max-width: 767px)" />
                <img src="./img/projects/1-pc-x1.jpg" alt="first project" width="" height="">
              </picture>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="projects-swiper-slide">
            <div class="projects-top-section">
              <ul class="projects-technologies-list">
                <li class="projects-technologies-list-item">#react</li>
                <li class="projects-technologies-list-item">#js</li>
                <li class="projects-technologies-list-item">#node js</li>
                <li class="projects-technologies-list-item">#git</li>
              </ul>
              <p class="projects-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
              <a class="projects-btn" href="https://github.com/Tienam123/goit-team-js-project" target="_blank">See
                project</a>
            </div>
            <div class="projects-bottom-section">
              <picture class="projects-img-item">
                <source srcset="./img/projects/2-pc-x1.jpg 1x,
                                ./img/projects/2-pc-x2.jpg 2x " media="(min-width: 1440px)" />
                <source srcset="./img/projects/2-tablet-x1.jpg 1x,
                                ./img/projects/2-tablet-x2.jpg 2x" media="(min-width: 768px)" />
                <source srcset="./img/projects/2-mobile-x1.jpg 1x,
                                ./img/projects/2-mobile-x2.jpg 2x" media="(max-width: 767px)" />
                <img src="./img/projects/2-pc-x1.jpg" alt="second project">
              </picture>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="projects-swiper-slide">
            <div class="projects-top-section">
              <ul class="projects-technologies-list">
                <li class="projects-technologies-list-item">#react</li>
                <li class="projects-technologies-list-item">#js</li>
                <li class="projects-technologies-list-item">#node js</li>
                <li class="projects-technologies-list-item">#git</li>
              </ul>
              <p class="projects-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
              <a class="projects-btn" href="https://github.com/Tienam123/goit-team-js-project" target="_blank">See
                project</a>
            </div>
            <div class="projects-bottom-section">
              <picture class="projects-img-item">
                <source srcset="./img/projects/3-pc-x1.jpg 1x,
                                      ./img/projects/3-pc-x2.jpg 2x " media="(min-width: 1440px)" />
                <source srcset="./img/projects/3-tablet-x1.jpg 1x,
                                      ./img/projects/3-tablet-x2.jpg 2x" media="(min-width: 768px)" />
                <source srcset="./img/projects/3-mobile-x1.jpg 1x,
                                      ./img/projects/3-mobile-x2.jpg 2x" media="(max-width: 767px)" />
                <img src="./img/projects/3-pc-x1.jpg" alt="third project">
              </picture>
            </div>
          </div>
        </div>
      </div>

      <!-- navigation buttons -->
      <div class="arrows-box-projects">
        <div class="swiper-button-prev-projects">
          <button class="left-btn arrows-btn" type="button">
            <svg class="left-btn-icon btn-icon" aria-label="swipe left icon">
              <use href="./sprites/symbol-defs.svg#icon-arrow-left"></use>
            </svg>
          </button>
        </div>
        <div class="swiper-button-next-projects">
          <button class="right-btn arrows-btn" type="button">
            <svg class="right-btn-icon btn-icon" aria-label="swipe right icon">
              <use href="./sprites/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>

    </div>

  </div>
</section>