<section class="projects">
	<div class="container">
		<!-- title -->
		<h3 class="projects-title">PROJECTS</h3>
		<!-- list tech -->
		<div class="projects-top-section">
			<ul class="projects-technologies-list">
				<li class="projects-technologies-list-item">#react</li>
				<li class="projects-technologies-list-item">#js</li>
				<li class="projects-technologies-list-item">#node js</li>
				<li class="projects-technologies-list-item">#git</li>
			</ul>
			<!-- text -->
			<p class="projects-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
			<!-- btn see project -->
			<a class="projects-btn" href="">See project</a>
		</div>
		<!-- img list -->
		<div class="projects-bottom-section">
			<ul class="projects-img-list">
				<li class="projects-img-item">
					<picture>
						<source srcset="../img/projects/1-pc-x1.jpg 1x,
          ../img/projects/1-pc-x2.jpg 2x " media="(min-width: 1440px)" />
						<source srcset="../img/projects/1-tablet-x1.jpg 1x,
          ../img/projects/1-tablet-x2.jpg 2x" media="(min-width: 768px)" />
						<source srcset="../img/projects/1-mobile-x1.jpg 1x,
          ../img/projects/1-mobile-x2.jpg 2x" media="(max-width: 767px)" />
						<img src="../img/projects/1-pc-x1.jpg" alt="first project">
					</picture>
				</li>
				<li class="projects-img-item">
					<picture>
						<source srcset="../img/projects/2-pc-x1.jpg 1x,
                    ../img/projects/2-pc-x2.jpg 2x " media="(min-width: 1440px)" />
						<source srcset="../img/projects/2-tablet-x1.jpg 1x,
                    ../img/projects/2-tablet-x2.jpg 2x" media="(min-width: 768px)" />
						<source srcset="../img/projects/2-mobile-x1.jpg 1x,
                    ../img/projects/2-mobile-x2.jpg 2x" media="(max-width: 767px)" />
						<img src="../img/projects/2-pc-x1.jpg" alt="second project">
					</picture>
				</li>
				<li class="projects-img-item">
					<picture>
						<source srcset="../img/projects/3-pc-x1.jpg 1x,
                                ../img/projects/3-pc-x2.jpg 2x " media="(min-width: 1440px)" />
						<source srcset="../img/projects/3-tablet-x1.jpg 1x,
                                ../img/projects/3-tablet-x2.jpg 2x" media="(min-width: 768px)" />
						<source srcset="../img/projects/3-mobile-x1.jpg 1x,
                                ../img/projects/3-mobile-x2.jpg 2x" media="(max-width: 767px)" />
						<img src="../img/projects/3-pc-x1.jpg" alt="third project">
					</picture>
				</li>
			</ul>
		</div>
		<!-- <swiper-container> -->
		<!-- shadow -->
		<!-- <div class="swiper">
                <div class="swiper-wrapper">
                  <slot />
                </div>
              </div>
            </swiper-container> -->
		<!-- arrows -->
		<!-- <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div> -->

		<div class="projects-arrows-box">
			<button class="projects-left-btn arrows-btn" type="button">
				<svg class="projects-left-btn-icon btn-icon" aria-label="swipe left icon">
					<use href="./sprites/symbol-defs.svg#icon-arrow-left"></use>
				</svg>
			</button>
			<button class="projects-right-btn arrows-btn" type="button">
				<svg class="projects-right-btn-icon btn-icon" aria-label="swipe right icon">
					<use href="./sprites/symbol-defs.svg#icon-arrow-right"></use>
				</svg>
			</button>
		</div>

	</div>
</section>
<!--Projects-->

<!--Текст “Projects” є заголовком секції.-->

<!--Перелік проєктів та опису до них необхідно реалізувати за допомогою <ul> у вигляді горизонтального слайдера (https://swiperjs.com/swiper-api). Користувач повинен мати змогу взаємодіяти зі слайдером через мишу, клавіатуру (клавіш Tab та стрілок) або сенсорний екран. У разі досягнення кінця списку елементів, кнопка відповідно до вказаного напрямку повинна бути задізейблена (користувач більше не може взаємодіяти з нею, і вона не реагує на події clickу або натискання клавіші). Задізейблена кнопка візуальною змінюється, що підкреслює її неактивний стан.-->

<!--Зображення потрібно реалізувати як контенті.-->

<!--Посилання "See project" має відкривати проєкт команди, розміщений на GitHub, у новій вкладці.-->