<section class="projects">
  <div class="container">
    <h3 class="projects-title">PROJECTS</h3>
    <div class="projects-top-section">
      <ul class="projects-technologies-list">
        <li class="projects-technologies-list-item">#react</li>
        <li class="projects-technologies-list-item">#js</li>
        <li class="projects-technologies-list-item">#node js</li>
        <li class="projects-technologies-list-item">#git</li>
      </ul>
      <p class="projects-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
      <button class="projects-btn" type="button">See project</button>
    </div>
    <div class="projects-bottom-section">
      <img src="" alt="картинка проєкту">
    </div>
    <nav>
      <button class="projects-nav-btn project-nav-btn-pre" type="button">
        <svg width="" height=""></svg>
      </button>
      <button class="projects-nav-btn project-nav-btn-next" type="button">
        svg
      </button>
    </nav>
  </div>
</section>
<!--Projects-->

<!--Текст “Projects” є заголовком секції.-->

<!--Перелік проєктів та опису до них необхідно реалізувати за допомогою <ul> у вигляді горизонтального слайдера (https://swiperjs.com/swiper-api). Користувач повинен мати змогу взаємодіяти зі слайдером через мишу, клавіатуру (клавіш Tab та стрілок) або сенсорний екран. У разі досягнення кінця списку елементів, кнопка відповідно до вказаного напрямку повинна бути задізейблена (користувач більше не може взаємодіяти з нею, і вона не реагує на події clickу або натискання клавіші). Задізейблена кнопка візуальною змінюється, що підкреслює її неактивний стан.-->

<!--Зображення потрібно реалізувати як контенті.-->

<!--Посилання "See project" має відкривати проєкт команди, розміщений на GitHub, у новій вкладці.-->