<section class="reviews" data-aos="fade-right">
	<div class="container">
		<h3 class="text-title reviews-text-title">Reviews</h3>
		<div class="reviews-card">
			<div class="swiper-review">
				<div class="swiper-wrapper reviews-cards">

				</div>
				<div class="arrows-box">
					<div class="swiper-button-prev-review">
						<button class="left-btn arrows-btn" type="button">
							<svg class="left-btn-icon btn-icon" aria-label="swipe left icon">
								<use href="./sprites/symbol-defs.svg#icon-arrow-left"></use>
							</svg>
						</button>
					</div>
					<div class="swiper-button-next-review">
						<button class="right-btn arrows-btn" type="button">
							<svg class="right-btn-icon btn-icon" aria-label="swipe right icon">
								<use href="./sprites/symbol-defs.svg#icon-arrow-right"></use>
							</svg>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>