<section class="reviews">
  <div class="container">
    <h3 class="text-title reviews-text-title">Reviews</h3>
    <div class="reviews-card">
      <ul class="reviews-card-list list">
        <li class="reviews-card-item">
          <img
            src="../img/about-me/image.jpg"
            alt="Name one"
            width="48"
            height="48"
            class="reviews-item-img"
          />
          <h3 class="text-title reviews-card-text-title">Name</h3>
          <p class="text reviews-card-text">
            Work with was extraordinary! He turned out to be a very competent
            and responsible specialist. The projects were completed on time and
            the result exceeded my expectations
          </p>
        </li>
        <!--<li class="reviews-card-item">
          <img
            src="../img/about-me/image.jpg"
            alt="Name two"
            width="48"
            height="48"
            class="reviews-item-img"
          />
          <h3 class="text-title reviews-card-text-title">Name</h3>
          <p class="text reviews-card-text">
            Work with was extraordinary! He turned out to be a very competent
            and responsible specialist. The projects were completed on time and
            the result exceeded my expectations
          </p>
        </li>-->
         <!--<li class="reviews-card-item">
          <img
            src="../img/about-me/image.jpg"
            alt="Name three"
            width="48"
            height="48"
            class="reviews-item-img"
          />
          <h3 class="text-title reviews-card-text-title">Name</h3>
          <p class="text reviews-card-text">Work with was extraordinary! He turned out to be a very competent and responsible specialist. The projects were completed on time and the result exceeded my expectations</p>
        </li>
        <li class="reviews-card-item">
          <img
            src="../img/about-me/image.jpg"
            alt="Name four"
            width="48"
            height="48"
            class="reviews-item-img"
          />
          <h3 class="text-title reviews-card-text-title">Name</h3>
          <p class="text reviews-card-text">Work with was extraordinary! He turned out to be a very competent and responsible specialist. The projects were completed on time and the result exceeded my expectations</p>
        </li>-->
      </ul>
    </div>
    <div class="arrows-box">
      <button class="left-btn arrows-btn" type="button">
        <svg
          class="left-btn-icon btn-icon"
          aria-label="swipe left icon"
        >
          <use href="./sprites/symbol-defs.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="right-btn arrows-btn" type="button">
        <svg
          class="right-btn-icon btn-icon"
          aria-label="swipe right icon"
        >
          <use href="./sprites/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>

<!--Reviews-->

        <!--Текст “Reviews" є заголовком секції.-->

        <!--"Перелік відгуків необхідно реалізувати за допомогою <ul> у вигляді горизонтального слайдера (https://swiperjs.com/swiper-api). Користувач повинен мати змогу взаємодіяти зі слайдером через мишу, клавіатуру (клавіш Tab та стрілок) або сенсорний екран. У разі досягнення кінця списку елементів, кнопка відповідно до вказаного напрямку повинна бути задізейблена (користувач більше не може взаємодіяти з нею, і вона не реагує на події clickу або натискання клавіші). Задізейблена кнопка візуальною змінюється, що підкреслює її неактивний стан.-->

        <!--  Перелік відгуків слід отримувати з backendа. Якщо з сервера буде повернута помилка - користувачеві слід повідомити про це за допомогою вспливаючого повідомлення, а замість переліку відгуків відмалювати текст-заглушку ""Not found"""-->
      </ul>
    </div>
  </div>
</section>
