<section class="skills-button-page">
	<div class="container">
		<div class="swiper-skills-list">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper swiper-skills-list__wrapper">
				<!-- Slides -->
				<div class="swiper-slide swiper-skills-slide">
					<button>
						HTML/CSS
					</button>
				</div>
				<div class="swiper-slide swiper-skills-slide">
					<button>
						JavaScript
					</button>
				</div>
				<div class="swiper-slide swiper-skills-slide">
					<button>
						React
					</button>
				</div>
				<div class="swiper-slide swiper-skills-slide">
					<button>
						Node.js
					</button>
				</div>
				<div class="swiper-slide swiper-skills-slide">
					<button>
						React Native
					</button>
				</div>
				<div class="swiper-slide swiper-skills-slide">
					<button>
						Soft skills
					</button>
				</div>
				<div class="swiper-slide swiper-skills-slide">
					<button>
						PHP
					</button>
				</div>
				<div class="swiper-slide swiper-skills-slide">
					<button>
						Laravel
					</button>
				</div>
				<div class="swiper-slide swiper-skills-slide">
					<button>
						Symfony
					</button>
				</div>
				<div class="swiper-slide swiper-skills-slide">
					<button>
						Vue
					</button>
				</div>
			</div>

			<!-- If we need navigation buttons -->

			<div class="swiper-skill-list-next">
				<svg class="right-btn-icon btn-icon" aria-label="swipe right icon">
					<use href="./sprites/symbol-defs.svg#icon-arrow-right"></use>
				</svg>
			</div>

		</div>
	</div>
</section>