<section class="skills-list">
  <div class="container">
    <div class="swiper-skills-list">

      <div class="swiper-wrapper">

        <div class="swiper-slide main-skill-list">
          <button class="skills-button" data-id="1">React</button>
        </div>
        <div class="swiper-slide main-skill-list">
          <button class="skills-button" data-id="1">React</button>
        </div>
        <div class="swiper-slide main-skill-list">
          <button class="skills-button" data-id="1">React</button>
        </div>
        <div class="swiper-slide main-skill-list">
          <button class="skills-button" data-id="1">React</button>
        </div>
        <div class="swiper-slide main-skill-list">
          <button class="skills-button" data-id="1">React</button>
        </div>
        <div class="swiper-slide main-skill-list">
          <button class="skills-button" data-id="1">React</button>
        </div>
        <div class="swiper-slide main-skill-list">
          <button class="skills-button" data-id="1">React</button>
        </div>
        <div class="swiper-slide main-skill-list">
          <button class="skills-button" data-id="1">React</button>
        </div>
        <div class="swiper-slide main-skill-list">
          <button class="skills-button" data-id="1">React</button>
        </div>
        <div class="swiper-slide main-skill-list" data-id="1">
          <button class="skills-button">React</button>
        </div>

      </div>
      <div class="swiper-button-next"></div>
    </div>
  </div>

</section>
