<section class="skills-list">
  <div class="container skill-look">
    <div class="swiper-skills-list">

      <div class="swiper-wrapper swiper-box">

        <div class="swiper-slide main-skill-list" style="width: 130px;">
          <button class="skills-button"  data-id="1">HTML/CSS</button>
        </div>
        <div class="swiper-slide main-skill-list" style="width: 130px;">
          <button class="skills-button" data-id="2">JavaScript</button>
        </div>
        <div class="swiper-slide main-skill-list" style="width: 130px;">
          <button class="skills-button" data-id="3">Node.js</button>
        </div>
        <div class="swiper-slide main-skill-list" style="width: 130px;">
          <button class="skills-button" data-id="4">React</button>
        </div>
        <div class="swiper-slide main-skill-list" style="width: 130px;">
          <button class="skills-button" data-id="5">React Native</button>
        </div>
        <div class="swiper-slide main-skill-list" style="width: 130px;">
          <button class="skills-button" data-id="6">Soft skills</button>
        </div>

      </div>
      
    </div>
    <div class="slider-controls">
      <div class="skills-arrow">
        <svg class="arrow-list-skill" width="28" height="28" aria-label="arrow-right">
          <use href="./sprites/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>

</section>

