<section class="work-together"
         id="work-together-section"
         data-aos="fade-left">
  <div class="container work-container">
    <h3 class="work-together__title">
      <img src="./img/logo.png"
           alt="">
      <p>Let’s <span class="work-together__title-red">work</span><br></p>
      <p class="modal__title__next">together</p>
    </h3>
    <form class="work-together__form work-form">
      <label>
        <input class="work-form__mail" type="text"
               name="usermail"
               placeholder="clients@gmail.com"
        >
        <span class="work-form__mail-text"></span>
      </label>
      <label>
        <input type="text"
               placeholder="comments"
               class="work-form__message"
               name="message"
               >
        <span class="work-form__message-text"></span>
      </label>
      <button class="work-form__button" type="submit">Send</button>
    </form>
    <address class="contact">
      <ul class="contact__links">
        <li class="contact__item">
          <a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
        </li>
        <li class="contact__item">
          <a href="tel:+3801111111111">+380 11 1111 11 11</a>
        </li>
      </ul>
    </address>
  </div>

</section>