<section class="work-together">
  <div class="work-together-div container">
<div class="work-together-div-title">
  <img class="work-together-img" srcset="../img/work-together/image.png 1x, ../img/work-together/image2x.png  2x" 
  src="../img/work-together/image.png "
  width="44" 
  height="44"
  alt="jefferson">
    <h2 class="work-together-title">Let's <span class="work-together-title work-together-span">work</span></h2>
</div>
    <h3 class="work-together-title work-together-title-second">together</h3>

<div class="work-together-form-and-button">
  <div class="work-together-form-div">
    <form class="work-together-form">
    <div class="work-together-div-for-inputs">
      <input class="work-together-input" id="user-email" name="user-email" type="text" placeholder="clients@gmail.com" pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" required>
      <input class="work-together-input" id="user-comments" name="user-comments" type="text" placeholder="comments" pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" required>
    </div> 
    </form>
  </div>
  <button class="work-together-button" type="button">Send</button>
</div>
<div class="work-together-contacts-div">
  <ul class="work-together-ul">
    <li class="work-together-list"><a class="work-together-link" href="">lloydjefferson@gmail.com</a></li>
    <li class="work-together-list"><a class="work-together-link" href="">+380 11 1111 11 11</a></li>
  </ul>
</div>
  </div>

</section>

<!--Work together-->
<!--Текст “Let’s work together" є заголовком секції.-->

<!--"Секція також містить форму, що включає обовʼязкові до заповнення елементи <input> та кнопку “Send"" типу submit. Полю для введення електронної пошти слід додати мінімальну валідацію введених даних  за допомогою  атрибуту pattern=""^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"". У випадку, коли вміст введеного тексту перевищує розмір поля input, відображується тільки обмежена кількість символів, а решта тексту позначається трьома крапками (...), що показує, що текст був обрізаний.-->

<!--По clickу на кнопку ""Send"" необхідно відправити  POST запит на сервер про створення заявки щодо співпраці та у разі успішного створення - повідомити про це користувача, відкривши відповідне модальне вікно, в цьому випадку слід також очистити форму. Якщо з сервера буде повернута помилка - користувачеві слід повідомити про це за допомогою вспливаючого повідомлення і надати можливість відкорегувати введені значення (не очищувати форму) для їх подальшої повторної відправки."-->