/* Reset styles */
*,
*:before,
*:after {
  box-sizing: border-box;
}
a:focus,
a:active {
  color: currentColor;
}

html,
body {
  min-width: 320px;
  scroll-behavior: smooth;
}
.wrapper {
  min-height: 100%;
  overflow:clip;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  appearance: none;
  background-color: transparent;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}
